form {
    display: none;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 1em;
    background: var(--primary-color);
    border: 1px solid var(--primary-color-font);
    width: 95vw;
    margin: 1.5em auto;
    animation: toFrom 1s;
}

#text {
    width: 80vw;
    border: none;
    padding: .5em 1em;
    height: 70vh;
    overflow: auto;
    resize: none;
    background: var(--primary-color);
    color: whitesmoke;
}

.title {
    display: flex;
}