input {
    padding: 1em;
    width: 70vw;
    background: var(--primary-color);
    color: whitesmoke;
}

button {
    min-width: 10vw;
    background: var(--primary-color);
    color: var(--primary-color-font);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: var(--primary-color-font);
    color: whitesmoke;
}

.btn {
    animation: toFrom 1s;
    z-index: 999;
    position: absolute;
    top: 11vh;
    right: 8vw;
    border: 1px solid;
    padding: .5em;
}
