@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --primary-color: #171717;
    --primary-color-font: #69716c;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--primary-color);
    
}

h3 {
    margin: .5em 0;
}

p {
    overflow: hidden;
    height: 26vh;
}

.imgInput {
    width: 3em;
    cursor: pointer;
    border-radius: 100%;
    margin-right: .5em;
    user-select: none;
}

.clicked {
    animation: click .4s;
}

.container {
    width: 100vw;
    min-height: 90vh;
}

.outTasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    padding: 1em;
}

.tasks {
    padding: 1em 1em 5vh;
    height: 35vh;
    background: var(--primary-color);
    border: 1px solid var(--primary-color-font);
    border-radius: .5em;
    margin: .5em;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    word-wrap: break-word;
}

.task {
    display: none;
}

footer img {
    position: fixed;
    bottom: 2em;
    right: 2em;
}
